
footer .container {
    background: linear-gradient(0deg, #192b7a 90%, #db343d 90%);
    text-align: center;
    padding: 45px 0 75px 0;
}

footer .container h2, footer .container h3 {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0px;
    color: #D4AF37;
    padding: 0;
    margin: 0;
}

footer .container h2 {
    margin-top: 50px;
}

footer .container p {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: #99a7f0;
    line-height: 25px;
    text-align: justify;
    text-align-last: center;
    margin: 0 10px 0 10px;
}

footer .container p a {
    color: #c9d1f7;
    text-decoration: underline;
}

footer .container hr {
    background: linear-gradient(90deg, #99a7f000 10%, #99a7f0 20%, #99a7f0 80%, #99a7f000 90%);
    height: 1px;
    width: 100%;
    border: none;
    margin: 30px 0 30px 0;
}

.footer_end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_end .share_box {
    margin-left: 25%;
}

.footer_end .contact_box {
    margin-right: 25%;
}

.icon_box {
    letter-spacing: 10px;
}

.icon_box i {
    color: #99a7f0;
    transition: 0.1s ease-in-out;
}

.icon_box i:hover {
    color: #e1e5ff;
}

@media screen and (max-width: 854px) {

    footer .container p {
        font-size: 13px;
        line-height: 18px;
    }

    .footer_end {
        flex-direction: column;
    }

    .footer_end .share_box {
        margin-left: 0;
    }
    
    .footer_end .contact_box {
        margin-right: 0;
        margin-top: 10%;
    }
}