.header {
    padding: 60px 0 90px 0;
    text-align: center;
    background: linear-gradient(180deg, #192b7a 80%, #db343d 80%);
    position: fixed;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.header h1 {
    font-size: 52px;
    transition: 0.3s ease-in-out;
}

.header h1 a {
    color: #D4AF37;
}

@media screen and (max-width: 854px) {
    .header {
        padding: 40px 0 60px 0;
    }
    .header h1 {
        font-size: 33px;
    }
}

.header.shrink { 
    padding: 10px 0 18px 0;
}

.header.shrink h1 {
    font-size: 26px;
}

@media screen and (max-width: 854px) {
    .header.shrink {
        padding: 10px 0 15px 0;
    }

    .header.shrink h1 {
        font-size: 20px;
    }
}

.header h1 {
    font-family: 'Times New Roman', Times, serif;
}