
.main {
    margin: auto;
    margin-top: 250px;
    width: 50vw;
}

@media screen and (max-width: 854px) {
    .main {
        margin-top: 100px;
        width: 90vw;
    }
}

.main h1, .main h2 {
    text-align: center;
    font-family: 'Gulzar', Times;
    width: 100%;
    color: #333333;
}

.main h3 {
    width: 100%;
    text-align: center;
    font-family: 'Gulzar', Times;
    font-size: 1.7rem;
}

.main h1.ljust, .main h2.ljust, .main h3.ljust {
    text-align: left;
}

.main .title_footer {
    width: 100%;
    margin-bottom: 20px;
}

.main .title_footer hr {
    background: linear-gradient(90deg, rgba(51,51,51,0) 2%, rgba(51,51,51,0.7) 10%, rgba(51,51,51,0.7) 50%, rgba(51,51,51,0.7) 90%, rgba(51,51,51,0) 98%);
    height: 1px;
    width: 100%;
    border: none;
}

.main .title_footer i {
    color: #555555;
}

.main .title_footer i.float_right {
    float: right;
}

.main .title_footer i:hover {
    color: #333333;
}

.main .title_footer div {
    width: 100%;
    display: block;
}

.main p {
    font-family:Times, serif;
    font-size: 22px;
    text-align: justify;
    color: #333333;
}

.main ul li {
    font-family: Times, serif;
    font-size: 22px;
    text-align: justify;
    line-height: 26px;
    color: #333333;
    margin-top: 10px;
}

@media screen and (max-width: 854px) {
    .main p, .main ul li {
        font-size: 16px;
    }
}

